/* * {
    border: 1px dotted black;
} */ 

body {
    background-color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mitten {
    width: 450px;
    margin: 0 auto;
}

.logga {
    color:seagreen;
    font-size: 40px;
}

.nedåt {
    margin-top: 50px;
    
}
th , .grått12 {
    font-size: 10px;
    color: lightslategrey;
    text-align: left;
}

td , th {
    padding: 10px 0 8px 35px;
   
}

.produkter {
    width: 50%;
   
}

.pris {
    
    font-weight: bold;
    
}

.pris .normal {
    font-weight: normal;
}

.antal {
    width: 30%;
    border-radius: 5px;
    border-color: lightgreen;
    
    
}

.knapp {
   background-color: #c0ccd2;
   border-radius: 7px;
   width: 70px;
   
}

.knappbox {
    text-align: right;
    padding: 15px;
}

.datum{
    font-size: 12px;
    color: #4e555d;
    margin-top: 20px;

}

.röd {
    color: orangered;
}

.center {
    text-align: center;
}

.box {
    width: 300px;
    padding: 0 25px;
     
}

.lång {
    width: 262px;
    
}

.adressbox {
    width: 450px;
}

